
body{
    background-color: black;
    margin-top: 200px;
}

.wrapper{
    background-color: white;
    width: 100%;
    height: 240px;
    /* margin: 40px 20px 20px 40px; */
    padding-top: 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.watch-container{
    display: flex;
    justify-content: space-between;
    background-color: #0dcbf0;
    float: left;
    width: 350px;
    height: 160px;
    list-style: none;
    border-radius: 5px;
    align-items: center;
}
.shoes-container{
    display: flex;
    justify-content: space-between;
    background-color: #0e6ffd;
    float: center;
    width: 350px;
    height: 160px;
    list-style: none;
    border-radius: 5px;
    align-items: center;
}
.bags-container{
    display: flex;
    justify-content: space-between;
    background-color: #198754;
    float: right;
    width: 350px;
    height: 160px;
    list-style: none;
    border-radius: 5px;
    align-items: center;
}

.item-pic{
    width: 150px;
}

.item-name-show{
    color: white;
    font-weight: 800;
    font-size: 50px;
}

